*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo-wrapper{
  max-width: 1060px;
  margin: 0 auto;
  /* z-index: 10; */
  /* position: relative; */
  padding-bottom: 6rem;
   
}


.bg-div::before{
  content: '';
    width: 106%;
    height: 76vh;
    position: absolute;
    top: 34rem;
    left: -4%;
    transform-origin: top left;
    transform: rotate(-4deg);
    z-index: 0;
    background: rgb(255, 255, 255);
}

.bg-div{
  width: 100%;
    /* height: 12vh; */
    position: relative;
}

/* .bg-div::after {
  content: '';
  width: 95%;
  height: 100vh;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: 10;
} */

.bg-img{
  /* height: 100vh; */
  background-repeat:no-repeat;
  background-size: 100%;
}

.btn{
  display: inline-block;
    padding: 10px 23px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgb(14, 177, 177);
    text-decoration: none;
    cursor: pointer;
}




.searchBox {
  position: absolute;
    /* top: 14%; */
    /* left: 50%; */
    /* transform: translate(-50%,50%); */
    /* background: #ffffff; */
    /* height: 57px; */
    /* border-radius: 40px; */
    /* padding: 5px; */
    border: 1px solid #efefef;
    border-radius: 13px;
    background-color: #fff;
    width: 450px;
}

.img-wrapper{
  margin-top: 12%;
  width: 100%;
  height: 815px;
  overflow-y: auto;
  z-index: 99;
  position: relative;

}

.img-wrapper .card {
  position: relative;
  float: left;
  width: 31.5%;
  margin: 8px;
  cursor: pointer;
}

.img-wrapper .card img:hover{
  cursor: pointer;
  box-shadow: 0 0 14px gray;
}

.img-wrapper .card article{
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  padding: 0 10px;
}

.img-wrapper .card article img {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
.img-wrapper .card article label {
  float: left;
  margin-top: 11px;
  margin-left: 8px;
  color: #fff;
}

.img-wrapper .card article label span{ 
  color: #4bdac7;
}

.img-wrapper .card img.thumbnail{
  width: 100%;
  height: 250px;
    border-radius: 18px;
  
}


.searchButton {
  color: white;
    float: right;
    width: 34px;
    height: 34px;
    /* border-radius: 50%; */
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background-color: rgb(14, 177, 177);
    border-radius: 50%;
    /* color: #2f3640; */
    border: none;
    cursor: pointer;
    position: absolute;
    right: -14px;
    top: 3px
}
.searchButton img{
  width: 18px;
  height: 18px;
}

.searchInput {
  border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    /* color: white; */
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    width: 79%;
    padding: 0 6px;
    cursor: text;

}

.user-name{
  font-weight: 600;
}
.name-caption{
  font-weight: normal;
}


.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: -20px;
  top: -20px;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: #000;
  color: #fff;
  /* justify-content: center; */
  text-align: center;
  line-height: 29px;
  border-radius: 50%;
}

.close:hover,
.close:focus {
  color: rgb(197, 37, 37);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 12px 29px;
  
}
.modal-header div img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: left;
    margin-right: 22px;
}

.modal-body {
  padding: 2px 29px;
  padding: 2px 29px;
    max-height: 400px;
    overflow: auto;
}

.modal-footer {
  padding: 16px 16px;
  
}

.detail-img{
  height: 500px;
    width: 100%;
}

.download{
  display: inline-block;
  padding: 4px 14px;
  border-radius: 15px;
  color: #ffffff;
  background-color: rgb(14, 177, 177);
    text-decoration: none;
}

.text-center{
  text-align: center;
}



.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(143, 143, 143, 0.5);
  z-index: 2;
  cursor: pointer;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  color: rgb(17, 17, 17);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  height: 40px;
  width: 120px;
  background-color: #ffff;
  padding: 5px;
}

.tag-list{
  padding: 10px 0;
    margin: 10px 0;
}

.tag-list li{
  list-style-type: none;
  color: yellow;
  display: inline-block;
  width: 70px;
  padding: 2px 5px 10px 0px;
}
.tag-list li:first-child{
  color: #fff;
  width: 140px;
}

.sub-heading-text{
  color: #fff;
}

.heading-text{
  color: #fff;
   
    padding: 8px 0;
    font-size: 2rem;
}

header{
 max-width: 1060px;
 margin: 0 auto;
 margin-bottom: 5rem;
}

.logo-text{
  color: #fff;   
  
    padding: 7px 0;
}
.logo-text span{
  color: rgb(14, 177, 177);
}

footer{ 
    margin: 0 auto;
    /* padding: 7px 0; */
    background-color: #252222;
}
footer div{
  max-width: 1060px;
    margin: 0 auto;
    height: 15rem;
    padding: 3rem 0;
}

footer section:first-child{
  width: 25%;
  float: left;
  margin-top: 5%;
}

footer section:last-child{
  width: 75%;
  float: left;
}

footer section ul{
  padding: 10px 0px;
    float: left;
    width: 31%;
}

.white-text{
  color: #ffffff;
}

footer section ul li{
  list-style-type: none;
  color: rgb(184, 128, 8);
  padding: 3px 0;
}

.load-data{
  position: relative;
    margin-top: 55px;
}